/**
* @title: element button 样式文件
*/
@import '~@/assets/styles/common/mixin.less';

.el-button.el-button--default {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 34px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  align-items: center;

  span {
    font-size: @fs12;
    color: #606266;
  }
}

.el-button.el-button--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 34px;
  background: #286bff;
  border-radius: 4px;

  span {
    font-size: @fs12;
    color: @color-FFF;
  }
}
