/**
* @title: element table 输入框的样式文件
*/
@import '~@/assets/styles/common/mixin.less';

.el-table {
  .el-table__header thead tr {
    color: #2C2C34;

    >th {
      background: #2947980a;
      >div {
        font-size: 12px;
        font-weight: bold;
        color: #2C2C34;
        line-height: 14px;
      }
    }
  }
}